<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <h2 id="value">Softgames Test</h2>
        <form>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="submit" value="Sync" onclick='syncButtonPressed(); return false;'><br>
            <h4 id="namevalue">name value</h4><br><br>
            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" name="birthday">
            <input type="submit" value="Async" onclick='aSyncButtonPressed(); return false;'><br>
            <h4 id="birthdayvalue">birthday value</h4><br><br>
            <input type="submit" value="Notification" onclick='notificationButtonPressed(); return false;'><br>
        </form>
        <script type="text/javascript" src="message.js"></script>
    </body>
</html>
